.topics{
    display: flex;
    flex-direction: column;
    gap:2em;
    margin-left: 2em;
}
button{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color:cadetblue;
    list-style-type: none;
    margin-top: 35px;
    margin-left: 120px;
    letter-spacing: 10px;
    display: block;
    border-radius: 25px;
    padding: 0.2em 0.5em;
    
}
button:hover{
    background-color: rgb(177, 174, 174);
}
body{
    background-image: url('images/backgroundImage.png');
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.bob{
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; 
    margin-left: 280px;
}
img{
    height: 600px;
    width: 600px;
}